<div class="group_select col-span-4 grid grid-cols-4 gap-2">
    <div class="col-span-2">
      <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
      <select hx-get="{{ url_for('bulk_ship.get_groups') }}" hx-swap="outerHTML" hx-target="next .sub_group_select" hx-trigger="change" hx-indicator="#htmx-spinner"    name="group_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Select group</option>
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="sub_group_select col-span-2">
    </div>
</div>