<div class="group_select col-span-4 grid grid-cols-4 gap-2">
    <div class="col-span-2">
      <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> <span>Group</span> <span class="avlQty"></span></label>
      <select required name="group_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected disabled >Select group</option>
        {% for wh_product in wh_products %}
        <option  class="flex justify-between" value="{{ wh_product.group.id }}">{{ wh_product.group.name }} ({{ wh_product.available_quantity }})</option>
        {% endfor %}
      </select>
    </div>
    <div class="sub_group_select col-span-2">
      <!-- hx-get="{{ url_for('bulk_ship.get_groups') }}" hx-swap="outerHTML" hx-target="next .sub_group_select" hx-trigger="change" hx-indicator="#htmx-spinner" -->
    </div>
</div>