<div class="bulk_ship_item_input relative w-full grid grid-cols-12 gap-2 border-t dark:border-gray-700 p-2">
  {% if delete_btn %}
  <div hx-get="{{ url_for('main.no_content') }}" hx-trigger="click" hx-swap="delete"
    hx-target="closest .bulk_ship_item_inputs" hx-indicator="#htmx-spinner"
    class="absolute top-0 right-0 bg-red-600 hover:bg-red-800 rounded-lg cursor-pointer">
    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"
          fill="#ffffff"></path>
      </g>
    </svg>
  </div>
  {% endif %}
  <div class="col-span-12 grid grid-cols-6 gap-2">
    <div class="col-span-3">
      <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product SKU</label>
      <input hx-get="{{ url_for('bulk_ship.get_master_groups') }}" hx-swap="innerHTML" hx-target="next .master_group_select"
      hx-trigger="change" hx-indicator="#htmx-spinner" list="product-list" name="product_sku" placeholder="Product" required autocomplete="off"
        class="bulk-ship-product shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
      <datalist id="product-list">
        {% for product in products %}
        <option value="{{ product.SKU }}" data-product-id="{{ product.id }}">{{product.name}}</option>
        {% endfor %}
      </datalist>
    </div>
    <div class="col-span-3">
      <label for="qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
      <input type="number" name="qty"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0" required />
    </div>
  </div>
  <div class="master_group_select col-span-12 grid grid-cols-6 gap-2">
    
  </div>
  

  <div class="col-span-12 grid grid-cols-6 gap-2">
    <div class="col-span-3">
      <label for="store_category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store category</label>
      <select name="store_category_id" hx-get="{{ url_for('bulk_ship.get_stores') }}" hx-swap="outerHTML" hx-target="next .store_select"
      hx-trigger="change" hx-indicator="#htmx-spinner"
        class="store_select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Select store</option>
        {% for store_category in store_categories %}
        <option value="{{ store_category.id }}">{{ store_category.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-span-3">
      <label for="store" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store</label>
      <select name="store_id" required disabled
        class="store_select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Select store</option>
      </select>
    </div>
  </div>
</div>