<div class="col-span-2">
  <label for="master_group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Master
    group</label>
  <select hx-get="{{ url_for('bulk_ship.get_groups') }}" hx-swap="outerHTML" hx-target="next .group_select"
    hx-trigger="change" hx-indicator="#htmx-spinner" name="master_group_id" hx-include="previous .bulk-ship-product"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Select master group</option>
    {% for master_group in master_groups %}
    <option value="{{ master_group.id }}">{{ master_group.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="group_select col-span-4 grid grid-cols-4 gap-2">
  <div class="col-span-2">
    <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
    <select disabled name="group_id" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected disabled >Select group</option>
    </select>
  </div>
  <div class="sub_group_select col-span-2">
  </div>
</div>