<!-- Billable editing -->
<!-- prettier-ignore -->
<div id="inbound-order-edit-billable-groups" class="border-t pt-6">
    <input type="text" class="hidden" name="billable_groups" id="inbound-edit-billable-groups-input">
  <span class="ml-12">Billables</span>
  <div id="inbound-order-group-allocated" >
    <!-- here will be groups -->
  </div>
    <div class="p-6 space-y-6  flex justify-center flex-col" >
    <button type="button" data-target="" id="inbound-order-billable-groups-allocate-btn" class="inbound-order-add-item-btn inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-red-300 justify-center w-full" >
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" > <path d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" ></path> </svg>
    </button>
  </div>
    <input id="inbound-grand-total" type="text" class="flex-1 ml-auto m-4 items-end invisible w-1/6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Grand total" disabled />
</div>
<!-- prettier-ignore -->
<script>
    function masterGroupChange(select) {
        let master_billable_group_id = select.value;
        let url = `/outgoing_stock/get_billable_group/${master_billable_group_id}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                let parentElement = select.closest('.group-container');
                let billable_group_select = parentElement.querySelector('.billable_group_selector');
                billable_group_select.innerHTML = '';
                billable_group_select.add(new Option('Select Billable Group', ''));
                data.forEach(billable_group => {
                    let option = document.createElement('option');
                    option.value = billable_group.id;
                    option.text = billable_group.name;
                    option.setAttribute('data-rate', billable_group.rate);
                    billable_group_select.add(option);
                });
            });
    }
    function billableGroupChange(select) {
        let billable_group_id = select.value;
        let parentElement = select.closest('.group-container');
        let quantityInput = parentElement.querySelector('.quantity');
        quantityInput.removeAttribute('disabled');
        let totalInput = parentElement.querySelector('.total');
        totalInput.setAttribute('data-rate', select.options[select.selectedIndex].getAttribute('data-rate'));
        totalInput.removeAttribute('disabled');
    }
</script>
