<!-- View inbound order modal -->
<!-- prettier-ignore-->
<div tabindex="-1" id="inbound-order-modal-view" hx-get="{{ url_for('main.no_content') }}" hx-trigger="click"
  hx-swap="delete" hx-target="#inbound-order-modal-view" hx-indicator="#htmx-spinner"
  class="fixed bg-opacity-80 bg-gray-600 top-0 left-0 right-0 z-50 items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full justify-end items-end flex">
  <div class="relative w-full max-w-screen-2xl max-h-full" onclick="event.stopPropagation();">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="next_url" id="inbound-order-view-next_url" value="" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View inbound order </h3>
        <div class="flex align-baseline gap-4">
          <button type="button" onclick="copyCurrentLink()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="h-5 w-5 text-[currentColor]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
              stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="6" cy="12" r="3" />
              <circle cx="18" cy="6" r="3" />
              <circle cx="18" cy="18" r="3" />
              <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />
              <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" />
            </svg>
          </button>
          <button type="button" hx-get="{{ url_for('main.no_content') }}" hx-trigger="click" hx-swap="delete"
            hx-target="#inbound-order-modal-view" hx-indicator="#htmx-spinner"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
          </button>
        </div>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="order_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order ID</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.order_id }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.status.value }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="active_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active
              date</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.active_date.strftime('%Y-%m-%d')}}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="active_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active
              time</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.active_time }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="order_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order
              title</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.title }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="delivery_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Delivery
              date</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.delivery_date.strftime('%Y-%m-%d') }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="warehouse_id"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warehouse</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.warehouse.name }}</div>
          </div>
        </div>
        <div class="grid grid-cols-6 gap-6 border-t py-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier
              name</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.supplier.name }}</div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier
              address</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ inbound_order.supplier.address }}</div>
          </div>
        </div>
        <div>
          <div class="grid grid-cols-12 gap-5 product-allocated-groups-container items-end">
            {% for prod_allocated in inbound_order.products_allocated %}
            <div class="col-span-6 sm:col-span-3">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product to
                allocate</label>
              <div type="text"
                class="inbound-order-edit-check-product shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ prod_allocated.product.name }}</div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product SKU</label>
              <div
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ prod_allocated.product.SKU }}</div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Available
                Quantity</label>
              <div
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ prod_allocated.quantity }}</div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total
                Quantity</label>
              <div
                class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ prod_allocated.quantity }}</div>
            </div>
            <div class="col-span-12 sm:col-span-6">
              <label for="status"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
              <div
                class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ prod_allocated.product.description }}</div>
            </div>
            <div class="col-span-12 sm:col-span-6">
              <label for="shelf_life_start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Shelf
                life</label>
              <div class="flex items-center">
                <div
                  class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  {{ prod_allocated.shelf_life_start.strftime('%Y-%m-%d') }}</div>
                <span class="mx-4 text-gray-500">to</span>
                <div
                  class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  {{ prod_allocated.shelf_life_end.strftime('%Y-%m-%d') }}</div>
              </div>
            </div>
            <div class="col-span-6"><label
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label></div>
            <div class="col-span-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            </div>
            {% for allocated_group in prod_allocated.product_quantity_groups %}
            <div class="col-span-6">
              <div
                class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ allocated_group.group.name }}
              </div>
            </div>
            <div class="col-span-6">
              <div
                class=" shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {{ allocated_group.quantity}}
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function copyCurrentLink() {
      const currentURL = window.location.href;
      const tempInput = document.createElement('input');
      tempInput.value = currentURL;
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
    }
  </script>
</div>
