<!-- View inbound order modal -->
<!-- prettier-ignore-->
<div id="view-inbound-order-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="#" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="next_url" id="inbound-order-view-next_url" value="" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View inbound order </h3>
        <div class="flex align-baseline gap-4">
          <div id="link-copied-popup" class="absolute z-10 p-2 -top-[4%] right-[1%] invisible whitespace-nowrap first-line: text-sm text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 invisiable">
            <p>Order link copied!</p>
          </div>              
          <button type="button" id="inbound-order-share" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="h-5 w-5 text-[currentColor]"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="6" cy="12" r="3" />  <circle cx="18" cy="6" r="3" />  <circle cx="18" cy="18" r="3" />  <line x1="8.7" y1="10.7" x2="15.3" y2="7.3" />  <line x1="8.7" y1="13.3" x2="15.3" y2="16.7" /></svg>   
          </button>
          <button type="button" id="view-modal-btn-hide" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </button>
        </div>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="order_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Order ID</label >
            <div id="inbound-order-view-order_id" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Status</label >
            <div id="inbound-order-view-status" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="active_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Active date</label >
            <div id="inbound-order-view-active_date" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="active_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Active time</label >
            <div id="inbound-order-view-active_time" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="order_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Order title</label >
            <div id="inbound-order-view-order_title" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="delivery_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Delivery date</label >
            <div id="inbound-order-view-delivery_date" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="warehouse_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Warehouse</label >
            <div id="inbound-order-view-warehouse-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
        </div> 
        <div class="grid grid-cols-6 gap-6 border-t py-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Supplier name</label >
            <div id="inbound-order-view-supplier-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Supplier address</label >
            <div id="inbound-order-view-supplier-address" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div> 
          </div>
        </div>                
      </div>
      <!-- Modal footer -->
    </form>
  </div>
</div>
