<!-- Edit outgoing stock modal -->
<!-- prettier-ignore-->

<head>
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>
{% for ship_request in ship_requests %}
<div class="relative w-full max-h-full" onclick="event.stopPropagation();">
  <div class="w-full h-full flex flex-col gap-8 relative">
    <div class="text-md">Date: {{ ship_request.created_at.strftime("%B %d %Y") }}</div>
    <div class="text-lg">
      №:{{ ship_request.order_numb }}
    </div>
    <div class="flex flex-col gap-2">
      <div class="text-md">Sipe To:</div>
      <div class="text-lg font-bold ">{{ ship_request.store.store_name }}</div>
      <div class="text-lg">{{ ship_request.store.address }}</div>
      <div>{{ ship_request.store.city }}, {{ ship_request.store.region }}</div>
      <div class="text-lg">{{ ship_request.store.zip }}</div>
      <div class="text-lg">{{ ship_request.user.username|title }}</div>
    </div>
    <div class="w-full flex flex-col gap-4">
      <div class="w-full text-md">Delivery Note: {{ ship_request.comment if ship_request.comment else 'No comments' }}
      </div>
      <div class="w-full text-md">Comments: {{ ship_request.da_notes if ship_request.da_notes else 'No notes' }}</div>
    </div>
    <div class="overflow-x-auto">
      <table class="border-collapse w-full mb-1 text-base">
        <thead class="text-md border-black uppercase ">
          <tr>
            <th scope="col" class="border border-black px-6 py-3">Picture</th>
            <th scope="col" class="border border-black px-6 py-3">SKU</th>
            <th scope="col" class="border border-black px-6 py-3">Description</th>
            <th scope="col" class="border border-black px-6 py-3">Location</th>
            <th scope="col" class="border border-black px-6 py-3">Quantity</th>
          </tr>
        </thead>
        <tbody class="text-md">
          {% for cart in ship_request.carts %}
          <tr class="border border-gray-200 dark:border-gray-600">
            <td class="border border-black px-6 py-4">
              {% if cart.product.image and cart.product.image | length > 100 %}
              <img src="data:image/png;base64, {{ cart.product.image }}" class="w-14 h-14 object-cover" />
              {% else %}
              <img
                src="https://raw.githubusercontent.com/Simple2B/BeamSuntory/develop/app/static/img/no_picture_default.png"
                class="w-14 h-14 object-cover" />
              {% endif %}
            </td>
            <td class="border border-black px-4 py-2 text-align">{{ cart.product.SKU }}</td>
            <td class="border border-black px-4 py-2 text-align">{{ cart.product.description }}</td>
            <td class="border border-black px-4 py-2 text-align">{{ cart.note_location if cart.note_location else
              "-" }}
            <td class="border border-black px-4 py-2 text-align">{{ cart.quantity }}</td>
            </td>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}