<div style="padding: 4px;">
  <div>
    <div style="display: flex; justify-content: space-between;">
      <table class="w-full mb-1 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" style="text-align: center;">User name</th>
            <th scope="col" style="text-align: center;">Order Number</th>
            <th scope="col" style="text-align: center;">Status</th>
            <th scope="col" style="text-align: center;">Created
              Date</th>
            <th scope="col" style="text-align: center;">Store</th>
            <th scope="col" style="text-align: center;">Store
              Address</th>
            <th scope="col" style="text-align: center;">Store
              Country</th>
            <th scope="col" style="text-align: center;">Store
              City</th>
            <th scope="col" style="text-align: center;">Store Zip
              Code</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-200 dark:border-gray-600">
            <td style="text-align: center;">{{ ship_request.user.username }}</td>
            <td style="text-align: center;">

            </td>
            <td style="text-align: center;">{{ ship_request.order_numb }}</td>
            <td style="text-align: center;">{{ ship_request.status.value }}</td>
            <td style="text-align: center;">{{ ship_request.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
            <td style="text-align: center;">{{ ship_request.store.store_name }}</td>

            <td style="text-align: center;">{{ ship_request.store.address }}</td>
            <td style="text-align: center;">{{ ship_request.store.phone_numb}}</td>
            <td style="text-align: center;">{{ ship_request.store.country }}</td>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="">
        <div>
          <h3>User name</h3>
          <h4>{{ ship_request.user.username }}</h4>
        </div>
        <div>
          <h3>Order Number</h3>
          <h4>
            {{ ship_request.order_numb }}</h4>
        </div>
        <div>
          <h3>
            Status</h3>
          <h4>
            {{ ship_request.status.value }}
          </h4>
        </div>
        <div>
          <h3>Created
            Date</h3>
          <h4>
            {{ ship_request.created_at.strftime('%Y-%m-%d %H:%M') }}</h4>
        </div>
        <div>
          <h3>Store
          </h3>
          <h4>
            {{ ship_request.store.store_name }}</h4>
        </div>
        <div>
          <h3>Store
            Address</h3>
          <h4>
            {{ ship_request.store.address }}</h4>
        </div>
        <div>
          <h3>Store
            Phone</h3>
          <h4>
            {{ ship_request.store.phone_numb }}</h4>
        </div>
        <div>
          <h3>Store
            Country</h3>
          <h4>
            {{ ship_request.store.country }}</h4>
        </div>
      </div>
      <div style="">
        <div>
          <h3>Store
            Province</h3>
          <h4>
            {{ ship_request.store.region }}</h4>
        </div>
        <div>
          <h3>
            Comment</h3>
          <h4>
            {{ ship_request.comment if ship_request.comment else 'No comments' }}</h4>

        </div>
        <div>
          <h3>Store
            City</h3>
          <h4>
            {{ ship_request.store.city }}</h4>
        </div>
        <div>
          <h3>Store Zip
            Code</h3>
          <h4>
            {{ ship_request.store.zip }}</h4>
        </div>
        <div>
          <div>
            <h3>
              Warehouse manager notes</h3>
            <h4>
              {{ ship_request.wm_notes }}</h4>
          </div>
          <div>
            <h3>
              Proof of delivery</h3>
            <h4>
              {{ ship_request.proof_of_delivery }}</h4>
          </div>
          <div>
            <h3>
              Tracking</h3>
            <h4>
              {{ ship_request.tracking }}</h4>
          </div>

          <div>
            <h3>
              Delivery agent notes</h3>

            <h4>
              {{ ship_request.da_notes if ship_request.da_notes else 'No notes' }}</textarea>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal footer -->
    <div class="padding: 4px width: 100%">
      <table class="w-full mb-1 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" style="text-align: center;">#</th>
            <th scope="col" style="text-align: center;">Image</th>
            <th scope="col" style="text-align: center;">Name</th>
            <th scope="col" style="text-align: center;">SKU</th>
            <th scope="col" style="text-align: center;">Regular price</th>
            <th scope="col" style="text-align: center;">Retail price</th>
            <th scope="col" style="text-align: center;">Group</th>
            <th scope="col" style="text-align: center;">Quantity</th>
            <th scope="col" style="text-align: center;">Warehouse</th>
          </tr>
        </thead>
        <tbody>
          {% for cart in carts %}
          <tr class="border-b border-gray-200 dark:border-gray-600">
            <td style="text-align: center;">{{ loop.index }}</td>
            <td style="text-align: center;">
              {% if cart.product.image and cart.product.image | length > 100 %}
              <img src="data:image/png;base64, {{ cart.product.image }}" class="w-14 h-14 object-cover" />
              {% else %}
              <img
                src="https://raw.githubusercontent.com/Simple2B/BeamSuntory/develop/app/static/img/no_picture_default.png"
                class="w-14 h-14 object-cover" />
              {% endif %}
            </td>
            <td style="text-align: center;">{{ cart.product.name }}</td>
            <td style="text-align: center;">{{ cart.product.SKU }}</td>
            <td style="text-align: center;">{{ cart.product.regular_price }}</td>
            <td style="text-align: center;">{{ cart.product.retail_price }}</td>

            <td style="text-align: center;">{{ cart.group.name }}</td>
            <td style="text-align: center;">{{ cart.quantity }}</td>
            <td style="text-align: center;">{{ cart.warehouse.name if cart.warehouse else "" }}</td>
            </td>
            {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>