<!-- Adding product modal -->
<!-- prettier-ignore-->
<div id="add-product-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('product.create')}}" method="post" enctype="multipart/form-data"
      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="product_groups" id="product-add-product-groups" value="1" />
      <input hidden type="file" name="low_image" id="product-add-low-image" accept="image/png, image/gif, image/jpeg" />
      <input hidden type="file" name="high_image" id="product-add-high-image" accept="image/png, image/gif, image/jpeg" />

      {{ form_create.hidden_tag() }}
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Add new product </h3>
        <button id="add-product-modal-close-btn" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <input type="text" name="name" id="product-add-name"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Name" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier</label>
            <select type="text" name="supplier" id="product-add-supplier"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Supplier">
              {% for supplier in suppliers %}
              <option value="{{ supplier.id }}">{{ supplier.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="currency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Currency</label>
            <select type="text" name="currency" id="product-add-currency"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Currency">
              <option value="CAD">CAD</option>
              <option value="USD">USD</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="regular_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Regular price</label>
            <input type="text" name="regular_price" id="product-add-regular_price"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Regular price" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="retail_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Retail price</label>
            <input type="text" name="retail_price" id="product-add-retail_price"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Retail price" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
            <input type="file" name="image" id="product-add-image" accept="image/png, image/gif, image/jpeg"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Image" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="description"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <input type="text" name="description" id="product-add-description"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Description" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="SKU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SKU</label>
            <input type="text" name="SKU" id="product-add-SKU"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="SKU" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="low_stock_level" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Low Stock
              Level</label>
            <input type="text" name="low_stock_level" id="product-add-low_stock_level"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Low Stock Level" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="program_year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Program
              Year</label>
            <input type="text" name="program_year" id="product-add-program_year"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Program Year" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="package_qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Package
              Qty.</label>
            <input type="text" name="package_qty" id="product-add-package_qty"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Package Qty." />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_items_per_case" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No.
              Of Items Per Case</label>
            <input type="text" name="numb_of_items_per_case" id="product-add-numb_of_items_per_case"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="No. Of Items Per Case" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_cases_per_outer_case"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No. Of Cases Per Outer Case</label>
            <input type="text" name="numb_of_cases_per_outer_case" id="product-add-numb_of_cases_per_outer_case"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="No. Of Cases Per Outer Case" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
            <input type="text" name="comments" id="product-add-comments"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Comments" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Weight (in
              gm)</label>
            <input type="text" name="weight" id="product-add-weight"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Weight" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="length" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Length (in
              cm)</label>
            <input type="text" name="length" id="product-add-length"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Length" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="width" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Width (in
              cm)</label>
            <input type="text" name="width" id="product-add-width"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Width" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="height" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Height (in
              cm)</label>
            <input type="text" name="height" id="product-add-height"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Height" />
          </div>
        </div>
      </div>
      <div id="product-group-add-add-container">
        <div class="product-group-add-add-item p-6 space-y-6 border-t">
          <div class="grid grid-cols-12 gap-5" id="product-master-group-add-item-1">
            <div class="col-span-6 sm:col-span-4">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Master
                Group</label>
              <select type="text" name="add_product" id="product-master-group-add-add-product-1"
                class="product-master-group-add-item shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Master
                            Group" required>
                <option value="" disabled selected>Select master group</option>
                {% for master_group in master_groups_groups_available %}
                <option value="{{ master_group }}">{{ master_group }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-span-6 sm:col-span-4">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
              <select type="text" name="add_group" id="product-group-add-item-1"
                class="product-group-add-item shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Group" required>
                <option value="" disabled selected>Select group</option>
                {% for group in groups %}
                <option data-target-groups="{{ product.json }}" value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-span-6 sm:col-span-4">
              <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Action</label>
              <button type="button" data-target=""
                class="invisible inline-flex items-center px-3 py-2 mr-3 text-sm font-medium text-center text-white rounded-lg bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z">
                  </path>
                </svg>
              </button>
              <button type="button" id="product-group-add-add-item-btn"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-red-300">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button id="product-add-submit-btn" name="submit" type="submit" class="hidden"></button>
        <button id="product-add-save-products-btn" name="save-products" type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Save all </button>
      </div>
    </form>
  </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/datepicker.min.js"></script>
{% endblock %}
