<!-- Adding product modal -->
<!-- prettier-ignore-->
<div id="add-product-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('product.create')}}" method="post" enctype="multipart/form-data" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Add new product </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Product Name</label >
            <input type="text" name="name" id="product-add-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="product_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Product Type</label >
            <select type="text" name="product_type" id="product-add-product_type" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Product type" required >
              <option value="SIMPLE_PRODUCT">Simple Product</option>
              <option value="VARIABLE_PRODUCT">Variable Product</option>
            </select>
          </div>
          {% for master_group in master_groups_groups_available %}
            <div class="col-span-6 sm:col-span-3">
              <label for="for-group-{{ master_group }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >{{ master_group }}</label >
              <select type="text" name="group-{{ master_group }}" id="product-add-{{ master_group }}" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Some Group" required >
                {% for group in master_groups_groups_available[master_group] %}
                  <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
          <!-- <div class="col-span-6 sm:col-span-3">
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Category</label >
            <select type="text" name="category" id="product-add-category" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Category" required >
              <option value="1">Barware</option>
              <option value="2">Drink</option>
              <option value="3">Other</option>
            </select>
          </div> -->
          <!-- <div class="col-span-6 sm:col-span-3">
            <label for="language" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Language</label >
            <select type="text" name="language" id="product-add-language" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Language" required >
              <option value="1">English</option>
              <option value="2">French</option>
              <option value="3">Bilingual</option>
            </select>
          </div> -->
          <div class="col-span-6 sm:col-span-3">
            <label for="supplier" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Supplier</label >
            <select type="text" name="supplier" id="product-add-supplier" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Currency" required >
              <option value="1">Supplier 1</option>
              <option value="2">Supplier 2</option>
              <option value="3">Supplier 2</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="currency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Currency</label >
            <select type="text" name="currency" id="product-add-currency" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Currency" required >
              <option value="CAD">CAD</option>
              <option value="USD">USD</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="regular_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Regular Price</label >
            <input type="text" name="regular_price" id="product-add-regular_price" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Regular Price" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="retail_price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Retail Price</label >
            <input type="text" name="retail_price" id="product-add-retail_price" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Retail Price" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Image</label >
            <input type="file" name="image" id="product-add-image" accept="image/png, image/gif, image/jpeg" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Image" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Description</label >
            <input type="text" name="description" id="product-add-description" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Description" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="SKU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >SKU</label >
            <input type="text" name="SKU" id="product-add-SKU" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="SKU" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="low_stock_level" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Low Stock Level</label >
            <input type="text" name="low_stock_level" id="product-add-low_stock_level" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Low Stock Level" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="shelf_life_start" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Shelf life</label >
            <div id="datepickerEl" date-rangepicker datepicker-autohide datepicker-buttons class="flex items-center">
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input name="shelf_life_start" id="product-add-shelf_life_start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
              </div>
              <span class="mx-4 text-gray-500">to</span>
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </div>
                <input name="shelf_life_end" id="product-add-shelf_life_end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
            </div>
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="program_year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Program Year</label >
            <input type="text" name="program_year" id="product-add-program_year" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Program Year" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="premises" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Premises</label >
            <select type="text" name="premises" id="product-add-premises" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Premises" required >
              <option value="ON_PREMISE">On Premise</option>
              <option value="OFF_PREMISE">Off Premise</option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="package_qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Package Qty.</label >
            <input type="text" name="package_qty" id="product-add-package_qty" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Package Qty." required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_items_per_case" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >No. Of Items Per Case</label >
            <input type="text" name="numb_of_items_per_case" id="product-add-numb_of_items_per_case" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="No. Of Items Per Case" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_cases_per_outer_case" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >No. Of Cases Per Outer Case</label >
            <input type="text" name="numb_of_cases_per_outer_case" id="product-add-numb_of_cases_per_outer_case" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="No. Of Cases Per Outer Case" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Comments</label >
            <input type="text" name="comments" id="product-add-comments" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Comments" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Weight (in gm)</label >
            <input type="text" name="weight" id="product-add-weight" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Weight" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="length" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Length (in cm)</label >
            <input type="text" name="length" id="product-add-length" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Length" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="width" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Width (in cm)</label >
            <input type="text" name="width" id="product-add-width" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Width" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="height" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Height (in cm)</label >
            <input type="text" name="height" id="product-add-height" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Height" required />
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button name="submit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Save new product </button>
      </div>
    </form>
  </div>
</div>

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/datepicker.min.js"></script>
{% endblock %}
