<!-- Adjust product modal -->
<!-- prettier-ignore-->
<div id="adjust-product-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <!-- TODO change action for adjust form -->
    <form action="#" method="get" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="product_id" id="product-adjust-id" value="0" />
      <input type="hidden" name="next_url" id="product-adjust-next_url" value="" />
      {{ form_create.hidden_tag() }}
      <!-- Modal header -->
      <div id="modal-adjust-header-container"
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Adjust product </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-2 sm:row-span-2 max-height-image-container">
            <img id="product-adjust-image" class="w-full h-full object-cover">
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <div id="product-adjust-name"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-4" id="product-adjust-product_type-container">
            <label for="product_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <div id="product-adjust-product_type"></div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
    </form>
  </div>
</div>
