<div class="col-span-6 sm:col-span-2" id="assign-group-list-data-element">
    <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
    <input type="text" list="assign-group-list-data" autocomplete="off" name="group" placeholder="Select group" required
        hx-get="{{ url_for('product.get_assign_groups') }}" hx-target="#sub-group-element" hx-swap="outerHTML"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <datalist id="assign-group-list-data">
        <option value="" selected disabled>Group</option>
        {% for group in groups %}
        <option value="{{ group.name }}">
            {% endfor %}
    </datalist>
</div>