<!-- Request Share product modal -->
<!-- prettier-ignore-->
<form action="{{url_for('product.request_share')}}" method="post"
  class="relative bg-white rounded-lg shadow dark:bg-gray-700">
  {{ form.hidden_tag() }}
  
  <input type="hidden" name="sku" value="{{ warehouse_product.product.SKU }}" >
  <input type="hidden" name="from_group_id" value="{{ warehouse_product.group.id }}">
  <!-- Modal header -->
  <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Request Share</h3>
  </div>
  <div class="p-6 space-y-6">
    <div class="grid grid-cols-6 gap-5">
      <div class="product-full-image-anchor col-span-6 sm:col-span-2 sm:row-span-2 max-height-image-container">
        {% if warehouse_product.product.image and warehouse_product.product.image | length > 100 %}
        <img src="data:image/png;base64, {{ warehouse_product.product.image }}" class="w-full h-full object-cover" />
        {% else %}
        <img src="https://raw.githubusercontent.com/Simple2B/BeamSuntory/develop/app/static/img/no_picture_default.png"
          class="w-full h-full object-cover" />
        {% endif %}
      </div>
      <div class="col-span-6 sm:col-span-4">
        <label for="product-request-share-name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
        <div id="product-request-share-name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{ warehouse_product.product.name }}</div>
      </div>
      <div class="col-span-6 sm:col-span-4">
        <label for="product-request-share-sku"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SKU</label>
        <div
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{ warehouse_product.product.SKU }}</div>
      </div>
      <div class="col-span-6 sm:col-span-2">
        <label for="product-request-share-available-quantity"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Available Quantity</label>
        <div
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{ warehouse_product.product_quantity }}</div>
      </div>
      <div class="col-span-6 sm:col-span-6">
        <label for="product-request-share-batch-no"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">From Group</label>
        <div type="text"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{ warehouse_product.group.name }}</div>
        
      </div>


      <div class="col-span-6 sm:col-span-6">
        <label for="product-request-share-batch-no"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Desire Quantity</label>
        {{ form.desire_quantity(placeholder="Quantity", class_="shadow-sm bg-gray-50 border border-gray-300
        text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600
        dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
        dark:focus:border-blue-500") }}
      </div>
      <div class="col-span-6 sm:col-span-6">
        <label for="product-request-share-define-brand"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Define Your Group the Item will
          Appear in if Accepted</label>
        <select type="text" name="to_group_id"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Group" required>
          {% for group in user_groups %}
          <option value="{{ group.id }}">{{ group.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-span-6 sm:col-span-6">
        <label for="product-request-share-total-available-items"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Available Items</label>
        <div
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {{ warehouse_product.product_quantity }}</div>
      </div>
    </div>
  </div>
  <!-- Modal footer -->
  <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
    <button name="submit" type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Request
      Share</button>
  </div>
</form>
</div>
</div>