<!-- Ship product modal -->
<!-- prettier-ignore-->
<div tabindex="-1" id="product-ship-modal-element" hx-get="{{ url_for('main.no_content') }}" hx-trigger="click"
  hx-swap="delete" hx-target="#product-ship-modal-element"
  class="fixed bg-opacity-80 bg-gray-600 top-0 left-0 right-0 z-50 items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full justify-end items-end flex">
  <div class="rounded-lg relative w-full max-w-2xl max-h-full bg-white" onclick="event.stopPropagation();">
    <form action="{{ url_for('cart.create')}}" method="post"
      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      {{ form.hidden_tag() }}
      {{ form.warehouse_product_id }}
      {% set available_quantity = warehouse_product.available_quantity %}
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Ship</h3>
      </div>
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-5">
          <div data-target-product-id="{{ warehouse_product.product.id }}"
            class="product-full-image-anchor col-span-6 sm:col-span-2 sm:row-span-2 max-height-image-container">
            {% if warehouse_product.product.image and warehouse_product.product.image | length > 100 %}
            <img src="data:image/png;base64, {{ warehouse_product.product.image }}"
              class="w-full h-full object-cover" />
            {% else %}
            <img
              src="https://raw.githubusercontent.com/Simple2B/BeamSuntory/develop/app/static/img/no_picture_default.png"
              class="w-full h-full object-cover" />
            {% endif %}
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label for="product-ship-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
              Name</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ warehouse_product.product.name }}</div>
          </div>
          <div class="col-span-6 sm:col-span-4">
            <label for="product-ship-sku"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SKU</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ warehouse_product.product.SKU }}</div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="product-ship-group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              readonly="readonly">Group</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ warehouse_product.group.name }}</div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="product-ship-available-quantity"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Available Quantity</label>
            <div id="product-ship-available-quantity"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ available_quantity }}</div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="product-ship-desire-quantity"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Desired Quantity</label>
            <input type="number" name="quantity" id="product-ship-desire-quantity"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0" min="1" max="{{ available_quantity }}" required />

          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="product-ship-total-available-items"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Available Items</label>
            <div
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {{ available_quantity }}</div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button name="submit" type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add
          To Cart</button>
      </div>
      <script>
        document.getElementById('product-ship-desire-quantity').addEventListener('input', function (e) {
          const total = "{{ available_quantity }}"
          const availableValue = document.getElementById('product-ship-available-quantity');
          if (availableValue && Number(e.target.value) <= total) {
            availableValue.textContent = total - Number(e.target.value);
          }
        });
      </script>
    </form>
  </div>
</div>