<!-- View product modal -->
<!-- prettier-ignore-->
<div id="view-product-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <!-- TODO change action for view form -->
    <form action="#" method="get" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="product_id" id="product-view-id" value="0" />
      <input type="hidden" name="next_url" id="product-view-next_url" value="" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View product </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-2 sm:row-span-2 max-height-image-container">
            <img id="product-view-image" class="w-full h-full object-cover">
          </div>
          <div class="col-span-6 sm:col-span-4 sm:row-span-2 " id="product-view-product-name-container">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
            <div id="product-view-name"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
            <div id="product-view-price"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="SKU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SKU</label>
            <div id="product-view-SKU"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="package_qty" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Package
              Qty.</label>
            <div id="product-view-package_qty"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_items_per_case" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No.
              Of Items Per Case</label>
            <div id="product-view-numb_of_items_per_case"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="numb_of_cases_per_outer_case"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No. Of Cases Per Outer Case</label>
            <div id="product-view-numb_of_cases_per_outer_case"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="comments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
            <div id="product-view-comments"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
    </form>
  </div>
</div>