<!-- View incoming stock modal -->
<!-- prettier-ignore-->
<div id="viewIncomingStockModal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-6xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('incoming_stock.notes')}}" method="post"
      class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      {{ form_edit.hidden_tag() }}
      <input type="hidden" name="inbound_order_id" id="incoming-stock-view-inbound-order-id" value="0" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View incoming stock </h3>
        <button id="buttonClosingViewIncomingStockModal" type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="order_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order ID</label>
            <div id="incoming-stock-view-order-id"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="order_title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order
              title</label>
            <div id="incoming-stock-view-order-title"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
            <div id="incoming-stock-view-status"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="warehouse_id"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warehouse</label>
            <div id="incoming-stock-view-warehouse-id"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="active_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active
              date</label>
            <div id="incoming-stock-view-active-date"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="active_time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Active
              time</label>
            <div id="incoming-stock-view-active-time"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-2">
            <label for="delivery_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Delivery
              date</label>
            <div id="incoming-stock-view-delivery-date"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div
            class="col-span-6 sm:col-span-6 grid grid-cols-6 border-y border-gray-300 dark:border-gray-600 py-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="supplier_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier
                name</label>
              <div id="incoming-stock-view-supplier-id"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="supplier_address"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supplier address</label>
              <div id="incoming-stock-view-supplier-address"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>

          <div class="grid-cols-6 border-b border-gray-300 dark:border-gray-600 pb-6 gap-6 hidden"
            id="product-allocated-container">
            <div class="col-span-6 sm:col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product name</label>
              <div id="incoming-stock-view-product-name"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
            <div class="col-span-6 sm:col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product SKU</label>
              <div id="incoming-stock-view-product-sku"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
            <div class="col-span-6 sm:col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product Quantity</label>
              <div id="incoming-stock-view-product-quantity"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
            </div>
          </div>

          <div id="incoming-stock-product-container" class="col-span-6 sm:col-span-6 grid gap-6">
          </div>
          <div class="col-span-6 sm:col-span-3 row-span-2 flex flex-col">
            <label for="da_notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Delivery agent
              notes</label>
            <textarea id="incoming-stock-view-da-notes" type="text" name="da_notes" placeholder="Notes"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </textarea>
          </div>
          <div class="col-span-6 sm:col-span-3 row-span-2 flex flex-col">
            <label for="da_notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warehouse manager
              notes</label>
            <textarea id="incoming-stock-view-wm-notes" type="text" name="wm_notes" placeholder="Notes"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </textarea>
          </div>
          <div class="col-span-6 sm:col-span-3 row-span-2 flex flex-col">
            <label for="proof_of_delivery" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Proof of
              delivery</label>
            <textarea id="incoming-stock-view-proof-of-delivery" type="text" name="proof_of_delivery"
              placeholder="Notes"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </textarea>
          </div>
          <div class="col-span-6 sm:col-span-3 row-span-2 flex flex-col">
            <label for="tracking" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tracking</label>
            <textarea id="incoming-stock-view-tracking" type="text" name="tracking" placeholder="Tracking"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </textarea>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <button type="submit"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 incoming-stock-notes-btn">
              <svg class="w-4 h-4 mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
              </svg>
              Update notes
            </button>
            <button type="button" id="accept-incoming-stock-edit-button"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 accept-incoming-stock-btn">
              <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <defs>
                    <style>
                      .cls-1 {
                        fill-rule: evenodd;
                      }
                    </style>
                  </defs>
                  <path id="accept" class="cls-1"
                    d="M1008,120a12,12,0,1,1,12-12A12,12,0,0,1,1008,120Zm0-22a10,10,0,1,0,10,10A10,10,0,0,0,1008,98Zm-0.08,14.333a0.819,0.819,0,0,1-.22.391,0.892,0.892,0,0,1-.72.259,0.913,0.913,0,0,1-.94-0.655l-2.82-2.818a0.9,0.9,0,0,1,1.27-1.271l2.18,2.184,4.46-7.907a1,1,0,0,1,1.38-.385,1.051,1.051,0,0,1,.36,1.417Z"
                    transform="translate(-996 -96)"></path>
                </g>
              </svg>
              Accept goods
            </button>
          </div>
        </div>
      </div>
      <div id="incoming-stock-view-add-container">
      </div>
      <!-- Modal footer -->
    </form>
  </div>
</div>