<!-- Edit user modal -->
<!-- prettier-ignore-->
<div id="editUserModal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <form action="{{url_for('user.save')}}" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      {{ form_edit.hidden_tag() }}
      <input type="hidden" name="user_id" id="user-edit-id" value="0" />
      <input type="hidden" name="next_url" id="user-edit-next_url" value="" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Edit user </h3>
        <button id="edit-current-user-modal-close-btn" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input type="text" name="username" id="user-edit-username"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Name" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current
              Password</label>
            <input type="password" name="password" id="user-edit-password"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="••••••••" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="password_confirmation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
              Password</label>
            <input type="password" name="password_confirmation" id="user-edit-password_confirmation"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="••••••••" />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="email" name="email" id="user-edit-email"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="example@company.com" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
            <select type="text" name="role" id="user-edit-role"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Street Address" required>
              {% for division in divisions %}
              <option value="{{ division.id }}">{{ division.role_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
              Number</label>
            <input type="text" name="phone_number" id="user-edit-phone_number"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Phone Number" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
            <input type="text" name="country" id="user-edit-country"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Country" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="region"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Region/Province</label>
            <input type="text" name="region" id="user-edit-region"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Region or Province" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
            <input type="text" name="city" id="user-edit-city"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="City" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="zip-code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip Code/Postal
              Code</label>
            <input type="text" name="zip_code" id="user-edit-zip_code"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Zip Code or Postal Code" required />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="street-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street
              Address</label>
            <input type="text" name="street_address" id="user-edit-street_address"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Street Address" required />
          </div>
          <div class="col-span-6 sm:col-span-3 relative">
            <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Group</label>
            <input type="text" name="group" id="user-edit-group" hidden>
            <div id="user-edit-dropdown-btn"
              class="cursor-pointer shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Street Address">
              Select Group
            </div>
            <ul id="user-edit-dropdown-options"
              class="absolute hidden shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              {% for group in groups %}
              <li class="user-edit-dropdown-option cursor-pointer hover:bg-blue-700 ">{{ group.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="approval_permission"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Approval Permission</label>
            <input type="checkbox" name="approval_permission" id="user-edit-approval_permission"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="activated"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Activated</label>
            <input type="checkbox" name="activated" id="user-edit-activated"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block  p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          </div>
          <div id="user-edit-sales_rep-container" class=" col-span-6 sm:col-span-3">
            <label for="sales_rep" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Same As Store
              Locator Address</label>
            <input type="checkbox" name="sales_rep" id="user-edit-sales_rep"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          </div>
        </div>
      </div>
      <div id="user-edit-locker-address-container" class="">
        <div class="flex items-start justify-between p-4 border-t rounded-t dark:border-gray-600">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Store Locator / Shipping Address :</h4>
        </div>
        <div class="p-6 space-y-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="locker_country"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
              <input type="text" name="locker_country" id="user-edit-locker-address-country"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Country" />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="locker_region"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Region/Province</label>
              <input type="text" name="locker_region" id="user-edit-locker-address-region"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Region or Province" />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="locker_city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
              <input type="text" name="locker_city" id="user-edit-locker-address-city"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="City" />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="locker_zip_code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Zip
                Code/Postal Code</label>
              <input type="text" name="locker_zip_code" id="user-edit-locker-address-zip_code"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Zip Code or Postal Code" />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="locker_street_address"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street Address</label>
              <input type="text" name="locker_street_address" id="user-edit-locker-address-street_address"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Street Address" />
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button name="submit" type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Save all </button>
      </div>
    </form>
  </div>
</div>