<!-- View user modal -->
<!-- prettier-ignore-->
<div id="view-user-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <!-- TODO change action for view form -->
    <form action="{{url_for('user.save')}}" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <input type="hidden" name="user_id" id="user-view-id" value="0" />
      <input type="hidden" name="next_url" id="user-view-next_url" value="" />
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View user </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6 sm:col-span-3">
             <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Name</label >
            <div id="user-view-username"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Role</label >
              <div id="user-view-role"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Status</label >
            <div id="user-view-status"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">******</div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Email</label >
            <div id="user-view-email"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Phone Number</label >
            <div id="user-view-phone_number"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Country</label >
            <div id="user-view-country"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="region" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Region/Province</label >
            <div id="user-view-region"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >City</label >
            <div id="user-view-city"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="zip-code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Zip Code/Postal Code</label >
            <div id="user-view-zip_code"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="street-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Street Address</label >
            <div id="user-view-street_address"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="street-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Group</label >
            <div id="user-view-group"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></div>  
          </div>
        </div>
      </div>
      <div id="user-view-locker-address-container" class="hidden">
        <div class="flex items-start justify-between p-4 border-t rounded-t dark:border-gray-600">
          <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Store Locator / Shipping Address :</h4>
        </div>
        <div  class="p-6 space-y-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Country</label >
              <input type="text" name="country" id="user-add-country" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Country" required />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="region" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Region/Province</label >
              <input type="text" name="region" id="user-add-region" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Region or Province" required />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >City</label >
              <input type="text" name="city" id="user-add-city" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="City" required />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="zip-code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Zip Code/Postal Code</label >
              <input type="text" name="zip_code" id="user-add-zip_code" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Zip Code or Postal Code" required />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="street-address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Street Address</label >
              <input type="text" name="street_address" id="user-add-street_address" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Street Address" required />
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
    </form>
  </div>
</div>
