<!-- Spinner modal -->
<!-- prettier-ignore-->
<div id="spinner-modal" tabindex="-1" aria-hidden="true"
  class="full-image-z-index fixed top-0 left-0 right-0 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <!-- TODO change action for image form -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-center p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> Waiting... </h3>
      </div>
      <!-- Modal body -->
      <div class="flex justify-center p-2 space-y-2">
        <!-- prettier-ignore -->
        <div>{% include "icon/spinner.html" %}</div>
      </div>
      <!-- Modal footer -->
    </div>
  </div>
</div>