<!-- View pickup order modal -->
<!-- prettier-ignore-->
<div id="view-pickup-order-modal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-6xl max-h-full">
    <!-- Modal content -->
    <form action="#" method="get" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white"> View pickup order </h3>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-3 sm:col-span-3">
            <label for="order_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Order
              Number</label>
            <div id="pickup-order-view-order-number"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
            <div id="pickup-order-view-status"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="created_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Created
              Date</label>
            <div id="pickup-order-view-created-date"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="expiry_date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
            <div id="pickup-order-view-type"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store</label>
            <div id="pickup-order-view-store"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="pickup-order-view-warehouse-name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Warehouse</label>
            <div id="pickup-order-view-warehouse-name"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store
              Address</label>
            <div id="pickup-order-view-store_address"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store
              Phone</label>
            <div id="pickup-order-view-store_phone"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store
              Country</label>
            <div id="pickup-order-view-store_country"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_province" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store
              Province</label>
            <div id="pickup-order-view-store_province"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3 row-span-2 flex flex-col">
            <label for="pickup-order-view-comment"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment</label>
            <div id="pickup-order-view-comment"
              class="shadow-sm flex-grow bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store
              City</label>
            <div id="pickup-order-view-store_city"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <label for="store_zip_code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Store Zip
              Code</label>
            <div id="pickup-order-view-store_zip_code"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <table class="w-full mb-1 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3">Image</th>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">SKU</th>
            <th scope="col" class="px-6 py-3">Expiry Date</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">Quantity</th>
            <th scope="col" class="px-6 py-3">Warehouse</th>
          </tr>
        </thead>
        <tbody id="table-pickup-order-body-view">
        </tbody>
      </table>
    </form>
  </div>
</div>